<div class="container justify-content-center" style="width: 100vw; height: 100vh;">
    <div class="row">
        <!-- <div class="col">
            <img src="https://i.ibb.co/yFZMkYH/Whats-App-Image-2023-04-15-at-02-24-36.jpg"
                class="img-fluid" alt="..." style="filter: blur(2px);
                -webkit-filter: blur(2px); width: 100%; height: 65vh; margin-top: 30px;">
            <div class="card-img-overlay justify-content-center  align-items-center"
                style="text-shadow: 5px 10px 15px black; -webkit-text-stroke: 0.5px black;" id="textdiv">
                <h3 class="p-5" style="text-align: center; color: #0ce4c7; font-weight:bold ;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 23px;" id="textimg">Hey, There 👋... <br>I find you awesome for featuring
                    my website 👀, <br>please explose forward multiple blogs<br> 😍</h3>
            </div>
        </div> -->
        <div class="col" style="text-align: center;">
            <h1 style="color: white; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Welcome to my blog.</h1><h4 style="color: yellow; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">Follow my blog to get the latest update on</h4>
            <span style="font-size: 50px;">&ensp;</span><br>
            <span #textElement class="text text-light"
                style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-weight:bold; text-shadow: 1px 2px 3px black;"></span>
            <span #blinkElement class="text blink"></span>
            <br><br>
            <img src="../../../assets/WhatsApp Image 2023-04-15 at 01.45.25.jpeg" style="width: 150px; height: 150px; border-radius:50%;" alt="">
        </div>
       
    </div>
</div>
<h1 class="d-flex justify-content-center text-light">Featured Blogs</h1>
<hr>
<app-displaycard></app-displaycard>