.blink {
  border-right-style: solid;
  animation: 1s blink infinity;
}

.ytmain {
  margin-top: 30px;
  width: 560px;
  height: 315px;
 border-radius: 30px 30px 30px 30px;
  
}

#textimg {
  width: 45%;
  margin-left: 100px;
  margin-top: 100px;
}

/* #textdiv{

  } */
@keyframes blink {
  to {
    opacity: 0;
  }
}

@media only screen and (max-width:750px) {
  .row {
    flex-direction: column;
  }

  #textimg {
    margin-top: 100px;
    width: 75%;
  }
}

@media only screen and (max-width:360px) {
  .row {
    flex-direction: column;
  }

  #textimg {
    width: 45%;
    padding: 0 !important
  }

  .ytmain {
    width: 300 !important;
    height: 200 !important;
  }
}

@media only screen and (max-width:1030px) {
  .row {
    flex-direction: column;
  }

  /* #textimg{
          
    } */
}