<div class="m-5"></div>
<div class="input-group input-group-sm mt-5 p-3">
    <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" [(ngModel)]="search" name="search" placeholder="search tags">
    <div class="input-group-prepend">
        <button class="input-group-text bg-dark" id="inputGroup-sizing-sm" (click)="searchbar()">🔎</button>
    </div>
</div>
<div class="d-flex justify-content-center align-items-center" *ngIf="val" style="height: 100vh; width: 100vw;">
    <div class="spinner-grow text-dark" role="status">
      <span class="sr-only"></span>
    </div>
    <div class="spinner-grow text-primary m-3" role="status">
      <span class="sr-only"></span>
    </div>
    <div class="spinner-grow text-light" role="status">
      <span class="sr-only"></span>
    </div>
  </div>
<div class="p-3">
<div class="card">
    <div id="listContainer">
        <ul id="myList" class="list-group" *ngFor="let list of result" >
            <li class="list-group-item" style="background: rgb(238,174,202);
        background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);">
                <h5 class="card-title">{{list.BlogTitle}}</h5>
                <p class="card-title">{{list.BlogSummary}}</p>
            </li>
           
        </ul>
    </div>
</div>
</div>
<h1 class="d-flex justify-content-center text-light">Blog Category</h1>
<app-saved></app-saved>