<div class="d-flex"><input class="form-control col-md-12" style="width: 50%;"><button class="btn btn-primary" type="submit"><span
            class="material-symbols-outlined">
            add
        </span></button>
</div>
<ul class="list-group" style="margin-top: 20px; margin-bottom: 20px;">
    <div class="d-flex">
        <li class="list-group-item bg-secondary">goal number 1</li><button class="btn btn-success"
            style="width: 50px;"><span class="material-symbols-outlined">
                done
            </span></button><button class="btn btn-danger" style="width: 50px;"><span class="material-symbols-outlined">
                close
            </span></button>
    </div>
</ul>