<div class="d-flex justify-content-evenly">
    <div class="d-flex text-light align-items-center" style="font-size: 100px; text-shadow: 20px 30px 50px black;">
        <h1>
            <span class="word">Akash</span>
            <span class="word">App</span>
          </h1>
    </div>
    <div class="main"  style="height: 90vh; box-shadow: 1px 2px 1px 2px #3d3d3d49;;">
        <input type="checkbox" id="chk" aria-hidden="true">
        <div class="signup" style="display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;">
            <form>
                <label for="chk" aria-hidden="true">Sign up</label>
                <input type="text" name="txt" placeholder="User name" required="">
                <input type="email" name="email" placeholder="Email" required="">
                <input type="password" name="pswd" placeholder="Password" required="">
                <button>Sign up</button>
            </form>
        </div>

        <div class="login">
            <form>
                <label for="chk" aria-hidden="true">Login</label>
                <input type="email" name="email" placeholder="Email" required="">
                <input type="password" name="pswd" placeholder="Password" required="">
                <button>Login</button>
            </form>
        </div>
    </div>
</div>