<div class="m-3">
    <div class="card">
        <img class="card-img p-3" style="height:520px ; filter: blur(8px);
        -webkit-filter: blur(8px)" src={{apidata.Blogdp}} alt="Card image">
        <div class="card-img-overlay text-light d-flex justify-content-center flex-column align-items-center"
            style="text-shadow: 5px 10px 15px black; -webkit-text-stroke: 0.5px black;
            ">
            <h1 class="card-title" style="text-align: center;">{{apidata.BlogTitle}}</h1>
            <hr>
            <h4 class="card-text p-5" style="text-align: center;">{{apidata.BlogSummary}}</h4>
            <small style="font-size: small;">uploaded on : {{fulldate}}</small>
        </div>
    </div>
    <div class="card">
        <h5 class="card-header d-flex justify-content-center bg-dark text-light">{{apidata.BlogCategory}}</h5>
        <div class="card-body m-1" style="background: rgb(238,174,202);
        background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);">
            <h3 class="card-title  d-flex justify-content-center">{{apidata.BlogTitle}}</h3>
            <hr>
            <p class="card-text">{{apidata.BlogContent}} Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Soluta, dolorum porro nam quis nemo esse culpa. Asperiores excepturi tenetur quidem magni nisi
                perspiciatis id ex unde in sunt. Corporis, consectetur voluptatibus. Alias adipisci, sint quia, dolore
                blanditiis esse minima atque repellat accusamus quisquam hic nisi at voluptate! Voluptates eaque dolore
                neque possimus! Asperiores ea accusamus culpa tempore, dolore optio consequuntur ipsam error deserunt
                aspernatur minima vero porro non dolores quos vitae labore laudantium molestias perspiciatis nisi enim
                consequatur alias? Eveniet quasi, blanditiis repellat, tempore, ullam consequuntur dignissimos nam quo
                soluta odio veniam rem a totam! Commodi provident maxime doloremque praesentium obcaecati veniam.
                Temporibus quisquam repellat perferendis velit! Pariatur impedit recusandae veritatis harum sint fugiat
                dolore, at iure facilis accusantium vero ex, dicta doloribus quibusdam nostrum distinctio, maiores
                exercitationem perspiciatis fugit nesciunt cum tenetur! Porro consectetur doloribus repellendus tenetur
                quos cum architecto tempora qui repellat, incidunt sapiente obcaecati alias id expedita fuga asperiores
                odio eveniet minima hic perspiciatis. Sequi adipisci, doloremque praesentium veniam deleniti sunt
                officiis alias vitae eos debitis eius officia aperiam illo est recusandae! Architecto totam maiores,
                consequuntur doloribus quia optio quasi necessitatibus officia facere ex, quas quae reiciendis.
                Reprehenderit ut deserunt quae voluptatibus omnis doloribus quis. Voluptates eos voluptas ipsum aperiam
                saepe reprehenderit deleniti officia, quibusdam officiis iusto sunt quisquam quae? Nam facilis numquam
                magni doloremque quos tenetur quas vel cumque molestias maxime! Laborum excepturi tempore laboriosam
                esse reprehenderit ullam! Corrupti dolore, rem delectus ratione voluptatum nihil sit quis quae hic rerum
                eius molestiae incidunt eum quisquam id exercitationem ea dolorem? Maxime, odit? Aperiam illum
                laudantium in, nostrum dolor nihil voluptatem eum obcaecati dolorem optio? Eum aliquid officiis tempora
                eaque at laboriosam quidem nesciunt inventore sint facere omnis ratione quis sed numquam illum
                distinctio minima cum architecto, possimus dolore impedit asperiores voluptatibus unde adipisci! Optio
                blanditiis ipsum laudantium explicabo perferendis maxime quidem non nihil repudiandae dolorem quae,
                alias incidunt perspiciatis dolore corrupti doloremque eveniet! At aliquid nulla suscipit veniam ducimus
                maiores possimus, adipisci reprehenderit asperiores maxime alias ipsum voluptatum, dolorem ex magnam,
                consequuntur amet ipsam impedit eos repellat sequi tempora. Numquam rem accusantium minima a dolores
                nesciunt velit nulla recusandae explicabo ipsam quae, ullam quia consequuntur ducimus cumque autem
                deserunt? Expedita voluptate aliquam, eveniet vel maxime totam nesciunt, accusamus assumenda doloribus
                cumque facilis atque sed quisquam aut alias explicabo quaerat quis neque sint veritatis voluptatem cum?
                Sequi praesentium adipisci ullam recusandae sed, cupiditate nostrum eaque quisquam. Sit vitae obcaecati,
                autem, atque veritatis aliquid debitis expedita doloremque eveniet, necessitatibus quidem dolorem
                nesciunt suscipit libero odio corrupti iusto. Voluptatibus eaque magni praesentium placeat quisquam,
                omnis quibusdam dolor nostrum doloremque veritatis earum minus laborum incidunt enim cumque explicabo
                eligendi suscipit unde itaque fugiat dolorem libero voluptatem ab! Placeat provident ipsum velit,
                repudiandae adipisci natus saepe iusto repellat officiis ut! Voluptatum perspiciatis libero aliquam sed
                voluptatibus quibusdam accusantium exercitationem, repudiandae obcaecati, cumque molestiae qui minima
                velit amet, atque facere? Omnis nisi, excepturi velit fuga aliquid numquam laboriosam neque dicta
                dolorem in facere animi ex aliquam similique laudantium corporis accusamus dignissimos totam temporibus.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet corrupti cumque odio aliquid
                consectetur aspernatur velit nemo temporibus libero modi harum placeat eum sit porro veritatis, facere
                dicta voluptate saepe nostrum nobis et fuga iste! At odio explicabo, itaque, fuga quia asperiores iusto
                voluptates sed iure obcaecati perspiciatis tenetur natus facere suscipit accusantium minima iste quod
                eligendi. Molestiae molestias nesciunt praesentium voluptate nostrum, pariatur corrupti similique a nisi
                doloremque voluptas, ducimus suscipit nihil magnam cupiditate temporibus sequi, labore nulla amet
                sapiente repellendus! Doloremque dicta sunt recusandae, velit, odit deleniti quas fugiat eaque ab
                commodi rem enim qui beatae ipsam dolores deserunt voluptatum ut delectus accusamus molestiae laborum?
                Assumenda eveniet sunt doloribus laborum velit consectetur quaerat iure mollitia rem. Quas voluptas
                impedit eum dolores! Distinctio debitis deleniti earum repellendus, repudiandae obcaecati inventore
                nulla mollitia nostrum. Sequi eius ipsum vero dolores laborum! Dolor quod cum nostrum ducimus cumque
                illum fuga neque, accusantium sequi dolorum quia rerum veritatis perspiciatis sed optio provident
                debitis repellat nesciunt veniam hic molestiae enim alias inventore fugit? Explicabo, consequuntur. Quo
                voluptas hic debitis beatae sapiente fugiat suscipit molestiae, labore ea iste repellat quaerat
                deleniti. Esse cumque ipsum porro quas, laudantium deserunt ullam? Voluptatem ullam tempora deleniti
                voluptas. Quibusdam dolores officiis dolorum perferendis fugiat ad vel illo dicta nesciunt fugit, quos
                modi voluptatum cum perspiciatis itaque mollitia debitis deserunt, laudantium omnis quisquam maiores
                impedit consectetur commodi tenetur? Qui adipisci omnis, iste in tempore provident aperiam quas
                voluptates magnam officiis praesentium, magni eaque. Velit iure accusantium fugiat sed tempore! Culpa
                aliquid dignissimos totam aperiam veritatis voluptatum? Ea voluptatum dignissimos, accusantium maxime
                provident obcaecati minima nesciunt quaerat quae amet commodi. Sit minus, blanditiis qui ipsam porro
                consequatur praesentium dicta quae, magnam earum facere illo soluta. Non aspernatur rerum officia,
                nostrum dicta ipsum fuga commodi nisi itaque est? Odio suscipit reiciendis eaque excepturi sunt. Sequi
                qui, nisi libero, deserunt placeat a deleniti possimus, impedit iste perspiciatis illo debitis ea
                laboriosam laudantium eius enim. Aspernatur molestias temporibus sit aperiam, facilis quibusdam illum
                quis magnam culpa tenetur. Explicabo excepturi similique ut hic ad dignissimos velit, sint consequatur
                minus voluptatum adipisci dolorum nobis voluptates dolorem, officia debitis quia fugit cumque odio
                deleniti? Et nam aperiam, ipsa voluptate similique non sed commodi exercitationem architecto labore sit
                deserunt nobis alias, quis voluptatibus odio sunt illum expedita sapiente. Eligendi autem architecto
                exercitationem mollitia quidem culpa sed enim? Asperiores dolorum sed dolor odit fugit debitis sapiente
                voluptas corporis aliquid velit voluptatum quidem autem modi molestiae vel iste cumque unde soluta
                itaque a harum, minus quo adipisci? Iusto similique illum autem ratione, quam sunt facere nobis aut,
                quos minima a possimus vero! Quidem, corporis ea esse tempora eum cum vel temporibus ducimus fuga sunt
                incidunt sint molestias debitis a consequatur labore reiciendis voluptatibus porro. Molestiae atque
                voluptatem explicabo tempore, laboriosam dicta amet perferendis! Asperiores tempore laudantium earum,
                dicta sint, accusamus quisquam a dolore deleniti sequi deserunt cupiditate assumenda sed soluta tenetur
                voluptatum repellat veniam? Sint, qui assumenda fuga corrupti molestiae velit dicta dolor aspernatur
                sapiente magnam, fugiat, ut officia iusto!</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    <div class="input-group input-group-sm m-1">
        <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"
            placeholder="commnet...."  #getcomment
            (keyup.enter)="addcommnet(getcomment.value)"
            (blur)="addcommnet(getcomment.value); getcomment.value='' ">
        <div class="input-group-prepend">
            <button class="input-group-text btn btn-secondary" id="inputGroup-sizing-sm"><span class="material-symbols-outlined"  (click)="addcommnet(getcomment.value)">
                    add_comment
                </span></button>
        </div>
    </div>
    <div class="p-1" *ngFor="let usercommnet of comments">
        <div class="card-body bg-secondary text-light" style="border-radius: 5px 10px 15px; padding-left: 10px;">
         <strong>username:</strong>&nbsp;{{usercommnet}}</div>

    </div>

    <div class="card mt-5 mb-1" style=" box-shadow: 5px 10px 15px rgb(0, 0, 0)">
        <h5 class="card-header bg-dark text-light d-flex justify-content-center" style="border-radius: 5px 10px 15px;">Related posts</h5>
    </div>
    <div id="listContainer w-100">
        <ul id="myList" class="list-group mb-5 ">
            <li class="list-group-item m-1" routerLink="/blogpage">
                <p class="card-title">{{apidata.BlogTitle}}</p>
            </li>
        </ul>
    </div>
</div>
<div class="m-5"></div>