<div class="" *ngFor="let blog of showcate; let i = index">
  <ol class="list-group p-3">
    <li class="list-group-item d-flex justify-content-between align-items-start bg-secondary" (click)="show(i)"
      data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
      aria-controls="collapseExample">
      <div class="ms-2 me-auto text-light">
        {{blog}}
      </div>
      <span class="badge bg-primary rounded-pill">14 blogs</span>
    </li>
  </ol>
  <div style="padding-left: 10px; padding-right: 10px;" *ngFor="let list of result">
    <div class="card bg-secondary" *ngIf="this.isShow">
      <div id="listContainer" class="bg-secondary">
        <ul id="myList" class="list-group bg-secondary" *ngFor="let list of result">
          <li class="list-group-item m-1" style="background: rgb(238,174,202);
            background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);">
            <h5 class="card-title">{{list.BlogTitle}}</h5>
          </li>
        </ul>
      </div>
    </div>
  </div>
